:host {
  display: flex;
  width: fit-content;
  width: -moz-fit-content;    /* Firefox */
  align-items: center;
  box-shadow: 0px 0px 2px black;
  border-radius: 10px;
  height: 50px;
  margin: 10px;
}

.text-container {
  padding: 1em;
}

:host img {
  padding: 5px 10px;
  width: 2em;
  height: 2em;
}
:host img.checked {
  opacity: 0;
}
